.config .look,
.config .stats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.config .look img {
  max-width: 250px;
}

.config .stats {
  margin-bottom: 1em;
}

.config .stats p {
  margin: 0 15px;
}
